.profile-picture {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: solid 3px $color-3;
	height: 7rem;
	width: 7rem;
	padding-right: 0 !important;
	padding-left: 0 !important;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 7rem;
	}

	&--mini {
		height: 2.3rem;
		width: 2.3rem;
		img {
			width: 2.3rem;
		}
        @media (max-width: 450px) {
            height: 1.7rem;
		    width: 1.7rem;
		    img {
			    width: 1.7rem;
		    }
        }

	}

}
